* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background: linear-gradient(to right black, rgb(190, 12, 12));
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(231, 76, 60));
  color: white;
  text-align: center;
  padding: 10px;
}
nav {
  /* display: flex; */
  /* justify-content: space-between; */
  color: white;
  padding-block: 15px;
  padding-block-start: 15px;
  padding-block-end: 15px;
  text-align: center;
  background-color: rgba(0, 0, 0, 1);
  position: sticky;
  top: 0;
}
nav > h5 {
  margin-inline: 15px;
  margin-inline-start: 15px;
  margin-inline-end: 15px;
  display: inline-block;
}
nav > input {
  width: 30%;
  border: none;
  font-size: large;
}
.jordan {
  padding: 6% 10%;
  font-size: large;
  background-image: url(jordan.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.jordan > header {
  width: 70%;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.4);
}
.middle {
  padding: 1% 5%;
  background-color: rgba(0, 0, 0, 0.1);
}
.clone {
  height: 150px;
  width: 120px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.1%;
  color: white;
}
.bottom {
  background: linear-gradient(to left, #000000, #434343);
}
.shoes {
  margin-block: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}
p {
  display: block;
}
.footer {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.description {
  max-width: 40%;
  color: white;
}
.description > p {
  font-size: large;
  margin-bottom: 50px;
  line-height: 20px;
}
.description > h1 {
  font-size: xx-large;
  margin-bottom: 20px;
}
.shoe {
  width: 85%;
  height: 75%;
  padding: 2%;
  box-shadow: 0px 0px 10px grey;
  margin: auto;
  margin-top: 7.5;
}
.img {
  position: absolute;
  right: 10%;
  top: 20%;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  box-shadow: 8px 8px 8px white;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(51, 51, 50, 0.8),
  rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.8));
  transition:0;

}
.img:hover{
    transform: scale(1.3);
    z-index: 2;
    margin-right: 100px;
    margin-top: 40px;
}

